<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h2>User Form</h2>
		<font style="color: green;">
			<p th:text="${msg}"></p>
		</font>

		<form action="user-submit" th:object="${user}" method="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td>
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"/>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" /></td>
					<td>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger" />
					</td>
				</tr>
				<tr>
					<td>Phno:</td>
					<td><input type="number" th:field="*{phno}" /></td>
					<td>
						<p th:if="${#fields.hasErrors('phno')}" th:errors="*{phno}" class="text-danger"/>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit" class="btn btn-primary" /></td>
				</tr>
			</table>
		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
		crossorigin="anonymous"></script>
</body>

</html>